input[type=text], input[type=email], input[type=number]{
    width: 80%;
    padding: 5px 18px;
    margin: 7px 0px;
    box-sizing: border-box;
    border: 1px solid #58B19F;
}

 textarea{
     width: 80%;
     height: 50px;
     padding: 15px 22px;
     box-sizing: border-box;
     border: 2px solid #58B19F;
     border-radius: 2px;
     resize: none;

 }
    
    input[type=submit]{
        background-color: #8842d5;
        border: none;
        color: white;
        padding :8px 36px;
        text-decoration: none;
        border: 2px solid #ccc;
        margin: 5px 4px;
        cursor: pointer;
    }