*{margin :0; padding :0;}

.Menustyle{
    width: 100%;
    height : 100px;
    background: #6ab04c; color: white;
}

 .Menustyle ul{
     height :100px;
     display :flex;
     justify-content: space-around;
     align-items: center;
 }
   .Menustyle ul li{
       list-style: none;
       text-transform: uppercase;
       color : white;
   }

    .Menustyle ul li a{
        color : white;

    }